.app.light {
  --bg-color: #eeeeee;
  --bg-color-inverted: #2c2c2c;
  --primary-color: #0c0c0c;
  --secondary-color: #212121;
  --primary-color-inverted: #c5c5c5;
  --secondary-color-inverted: #9b9b9b;
}